.rows{
    display: flex;
}

.gridCell {
    margin: 2px;
    background-color: lightcoral;
}

.hovered{
    background-color: lightgreen;
}

#grid{
    width: 960px;
    max-height: 960px;
    display: flex;
    flex-direction: column;
}

body{
    background-color: blanchedalmond;
}