.rows{
    display: flex;
}

.gridCell {
    /*margin: 1px;*/
    background-color: lightcoral;
}

.hovered{
    background-color: lightgreen;
}

#grid{
    width: 560px;
    max-height: 560px;
    display: flex;
    flex-direction: column;
}

body{
    background-color: blanchedalmond;
}